<div
  class=" footer-wrapper mt-12 w-full bg-normal-bg rounded-t-lg shadow-2xl fixed bottom-0 text-xs capitalize text-secondary flex justify-center items-center p-1"
>
  <footer class="w-full flex justify-center items-center">
    <span class="lg:mx-4 mx-1 text-center"
      >Made With
      <a
        href="https://angular.io"
        rel="noopener noreferrer"
        target="_blank"
        class=" mx-1 lg:inline-block block  hover:text-red-500 focus:text-red-500"
      >
        Angular
      </a>
    </span>
    <span class="lg:mx-4 mx-2  text-center"
      >Coded By
      <a
        href="https://github.com/bgopikrishna"
        target="_blank"
        class="mx-1 lg:inline-block block hover:text-orange-700 focus:text-orange-700"
        >Gopi Krishna</a
      >
    </span>
    <span class="lg:mx-4 mx-1  text-center"
      >Powered by
      <a
        href="https://zomato.com"
        rel="noopener noreferrer"
        target="_blank"
        class="mx-1 lg:inline-block block hover:text-red-700 focus:text-red-700"
      >
        Zomato
      </a>
      <span class="footer-element-hide-on-sm">API</span>
    </span>
  </footer>
</div>
