<form
  class="flex justify-around align-middle max-w-sm mx-auto my-6 focus:border-orange-500"
  (ngSubmit)="onSubmit()"
>
  <input
    type="search"
    name="location"
    class="w-full bg-white text-black-900 focus:border-white focus:outline-none rounded-l-lg  py-2 px-4"
    (input)="handleInput($event)"
  />
  <button
    type="submit"
    class=" border-none bg-white text-black-900 rounded-r-lg outline-none focus:outline-none	py-2 px-4  hover:text-orange-500"
  >
    <fa-icon [icon]="faSearch"></fa-icon>
  </button>
</form>
