.restaurant-card {
    max-width: 300px;
    min-width: 300px;
  & > * {
    transition: all 0.3s ease-out;
  }

  &__header h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__header p {
    overflow-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}



@media (max-width: 900px){
    .restaurant-card {
      max-width: 100%;
      min-width: 100%;
    }
}