@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Space Mono', monospace;
  }
}

body {
  background: #222124;
  font-family: 'Space Mono', monospace;
  font-size: 20px;
}
